/* Shared styles and font  */
* {
  margin: 0;
  padding: 0;
}
.fontA {
  font-family: "Merriweather", serif;
}
.fontB {
  font-family: "Inter", sans-serif;
}

/* header related styles  */

.new {
  color: white;
  display: flex;
  background: linear-gradient(
      180deg,
      rgba(7, 2, 17, 0.308) 0%,
      rgba(7, 2, 17, 0.2) 100%
    ),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1300px;
  height: 600px;
  margin: 50px auto;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.new h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.new h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}

/* offer section styles */

.offer {
  text-align: center;
  align-items: center;
  margin: 100px 390px;
}
.offer-title {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}
.offer-deals {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.offer-category {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}
.offer-img {
  width: 802.9px;
  height: 500px;
}

/* party section styles  */

.party {
  color: white;
  display: flex;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17) 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1300px;
  height: 600px;
  margin: 50px auto;
  border-radius: 16px;
}
.party-left {
  padding-top: 126px;
  padding-left: 126px;
}

.party-right {
  padding-right: 135px;
  padding-top: 65px;
}
.party-title {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
.party-des {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.party-left button {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 32px;
  border: none;
  background-color: rgba(146, 132, 132, 0);
}

/* portfolio section styles */
.port {
  margin: 100px auto;
  /* align-items: center; */
  width: 1300px;
}
.port-h3 {
  text-transform: uppercase;
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.port-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.port-des {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.port-div {
  text-align: center;
}
.port-items {
  display: flex;
}
.port-img {
  width: 400px;
  height: 450px;
  margin: 25px;
}

.port-left-img {
  margin-left: 0;
}
.port-right-img {
  margin-right: 0;
}

/* portfolio hover effect added on images */
.port-img:hover {
  opacity: 0.7;
}

/* Sbuscribe sectino styles */

.subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1300px;
  height: 500px;
  margin: 70px auto;
  padding: 80px 0;
  text-align: center;
}
.sub-des {
  width: 896px;
  margin: 30px auto;
  color: rgba(7, 2, 17, 0.6);

  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.sub-img {
  margin: 20px;
}

.sub-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px;
}
.sub-inp-btn {
  margin: 20px 0 80px 0;
}
.sub-input {
  width: 400px;
  height: 72px;
  border: none;
  padding-left: 30px;
  border-radius: 50px 0 0 50px;
  margin-right: -2px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.sub-btn {
  border: none;
  width: 210px;
  height: 72px;
  background-color: red;
  padding: 15px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -2px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

/* footer section style  */

footer {
  background-color: #070211;
  color: white;
  width: 100%;
  height: 450px;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  padding-top: 100px;
  align-items: center;
}
.contact-number,
.contact-location {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.contact-number p img {
  width: 10px;
  height: 10px;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;
}
.copyright {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
footer hr {
  width: 1320px;
  height: 0.25px;
  background: rgba(179, 178, 178, 0.201);
  border: none;
  margin: 0 auto;
  padding: -1px;
}

/* bonus section styles  */

.bonus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  margin: 100px auto;
}

.bonus-comming-offer {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.bonus-comming-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 20px auto;
}

.bonus-coming-des {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 20px auto;
}

.bonus-img-circle {
  width: 350px;
  height: 350px;
}
.bonus-img {
  border: 15px solid red;
  border-radius: 50%;
  padding: 15px;
}
.bonus-new-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin: 20px auto;
}
.bonus-new-des {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.bonus-new-img{
  margin-top: 50px;
}
